.body-book {
  background-color: white;
  background-size: cover;
  background-repeat: no-repeat;
  height: fit-content;

  &.artes {
    background-color: $art_cor4;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &.lingua_inglesa {
    background-color: $ing_cor4;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &.lingua_portuguesa {
    background-color: $seg_por_cor1;
    background-size: cover;
    background-repeat: no-repeat;
  }

  &.matematica {
    background-color: $seg_mat_cor9;
    background-size: cover;
    background-repeat: no-repeat;

  }
  
  &.linguagens {
    background-color: $seg_lin_cor7;
    background-size: cover;
    background-repeat: no-repeat;

  }
  
  &.ciencias_natureza {
    background-color: $seg_cnz_cor6;
    background-size: cover;
    background-repeat: no-repeat;

  }
  
  &.ciencias_humanas {
    background-color: $seg_cnh_cor6;
    background-size: cover;
    background-repeat: no-repeat;

  }

  &.edit-mode {
    [doc-container] {
      padding-bottom: 24px !important;
      border-bottom: 3px solid #cecece !important;
    }
    [doc-container]:empty{
      padding-bottom: 0 !important;
      border-bottom: 0 !important;
    }
  }
}