.box_pensamento {
  width: 94%;
  height: auto;
  padding: 15px;
  margin: 16px 16px 16px;
  clear: both;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: #f4f4f4;
  border-radius: 10px;
  border: 2px solid $textColor;
  float: left;
  &::after {
      content: '';
      display: block;
      clear: both;
  }

  &.leftDe{
    float: left;
  }

  &.rightDe{
    float: right;
  }

  .material-symbols-outlined {
    color: $textColor;
  }

  .boxTitle{
    display: flex;
    align-items: center;
  }

  .title {
    font-size: 1.1rem;
    color: $textColor;
    font-family: "Montserrat";
    font-weight: 700 !important;
    margin: 0px;
    padding: 0px 0px 0px 5px;
    min-width: 2px;
    text-overflow: clip;
  }
  > * {
      &:first-child {
          margin-top: 0;
          &._left {
              + ._right {
                  margin-top: 0;
              }
          }
          &._right {
              + ._left {
                  margin-top: 0;
              }
          }
      }
      &:last-child {
          margin-bottom: 0;
      }
      &._left {
          + ._right:last-child {
              margin-bottom: 20px;
          }
      }
      &._right {
          + ._left:last-child {
              margin-bottom: 20px;
          }
      }
  }

  .content {
    font-size: 0.8rem;
    color: #333333;
    margin: 8px 0 0 0;
    line-height: 1.5em;
  }
  
  &.artes {
    border: solid 2px $art_cor1 !important;
  }
  &.lingua_inglesa {
    border: 1px solid $seg_por_cor2;
    background-color: $seg_ing_cor2;
    .title{
      color: $ing_cor1;
    }
    .material-symbols-outlined {
      color: $seg_por_cor2;
    }
  }
  &.lingua_portuguesa {
    border: 1px solid $seg_por_cor2;
    background-color: $seg_ing_cor2;
    .title{
      color: $por_cor2;
    }
    .material-symbols-outlined {
      color: $seg_por_cor2;
    }
  }
  &.matematica {
    border: 1px solid $seg_mat_cor6;
    background-color: $seg_cnz_cor4;
    .title{
      color: $mat_cor1;
    }
    .material-symbols-outlined {
      color: $seg_mat_cor6;
    }
  }
  &.linguagens {
    border: 1px solid $seg_por_cor2;
    background-color: $seg_ing_cor2;
    .title{
      color: $ling_cor2;
    }
    .material-symbols-outlined {
      color: $seg_por_cor2;
    }
  }
  &.ciencias_natureza {
    border: 1px solid $seg_mat_cor6;
    background-color: $seg_cnz_cor4;
    .title{
      color: $cnz_cor2;
    }
    .material-symbols-outlined {
      color: $seg_mat_cor6;
    }
  }
  &.ciencias_humanas {
    border: 1px solid $seg_cnh_cor4;
    background-color: $seg_cnh_cor5;
    .title{
      color: $cnh_cor2;
    }
    .material-symbols-outlined {
      color: $seg_cnh_cor4;
    }
  }

/* media query */
  @media only screen and (min-width: $phone-max-width) {
      &._left {
          float: left;
          clear: left;
          width: 50%;
          z-index: 1;
      }
      &._right {
          float: right;
          clear: right;
          width: 50%;
          z-index: 1;

      }
  }
}