.container_em_analise {
  padding: 8px 16px 16px 16px;
  margin-top: 48px;
  clear: both;
  display: block;
  &::after {
      content: '';
      display: block;
      clear: both;
      margin-top: 16px;
  }

  &.open {
    &::after {
        border-bottom: none;
    }
  }

  &.close {
    &::after {
        border-bottom: 2px solid $por_cor2;
    }
  }

  .text-read2{
    //border: solid 2px #981711; 
    font-size: 1rem;
    border-bottom: solid 3px #f2b8bc;
    color: #981711;
    width: 235px;
    text-align: center;
    padding: 3px;
    font-family: montserrat;
    font-weight: 700;
  }
  .line3{
    width: 100%;
    height: 2px;
    background-color: #981711;
  }
  > * {
      &:first-child {
          margin-top: 0;
          &._left {
              + ._right {
                  margin-top: 0;
              }
          }
          &._right {
              + ._left {
                  margin-top: 0;
              }
          }
      }
      &:last-child {
          margin-bottom: 0;
      }
      &._left {
          + ._right:last-child {
              margin-bottom: 20px;
          }
      }
      &._right {
          + ._left:last-child {
              margin-bottom: 20px;
          }
      }
  }

  &.artes {
    border: solid 2px $art_cor1 !important;
  }
  &.lingua_inglesa {
    &.close {
        &::after {
            border-top: 2px solid $ing_cor3;
            border-bottom: 2px solid $ing_cor1;
        }
    }
    .line3{
        background-color: $ing_cor1;
        border-top: 3px solid $ing_cor3;
    }
    .text-read2{
        background-color: $seg_ing_cor1;
        border-bottom: none;
        color: $ing_cor1;
        &::after {
            border-top: 2px solid $ing_cor3;
        }
    }
  }
  &.lingua_portuguesa {
    &.close {
        &::after {
            border-top: 3px solid $por_cor3;
            border-bottom: 2px solid $por_cor2;
        }
    }
    .line3{
        background-color: $por_cor2;
        border-top: 3px solid $por_cor3;
    }
    .text-read2{
        background-color: $seg_lin_cor3;
        border-bottom: none;
        &::after {
            border-top: 2px solid $por_cor3;
        }
    }
  }

  &.matematica {
    &.close {
        &::after {
            border-top: 3px solid $mat_cor3;
            border-bottom: 2px solid $mat_cor1;
        }
    }
    .line3{
        background-color: $mat_cor1;
        border-top: 3px solid $mat_cor3;
    }
    .text-read2{
        background-color: $seg_mat_cor3;
        border-bottom: none;
        color: $mat_cor1;
        &::after {
            border-top: 2px solid $mat_cor3;
        }
    }
  }

  &.linguagens {
    &.close {
        &::after {
            border-top: 3px solid $seg_lin_cor5;
            border-bottom: 2px solid $ling_cor1;
        }
    }
    .line3{
        background-color: $ling_cor1;
        border-top: 3px solid $seg_lin_cor5;
    }
    .text-read2{
        background-color: $seg_ing_cor1;
        border-bottom: none;
        color: $ling_cor1;
        &::after {
            border-top: 2px solid $seg_lin_cor5;
        }
    }
  }

  &.ciencias_natureza {
    &.close {
        &::after {
            border-top: 3px solid $seg_cnz_cor3;
            border-bottom: 2px solid $cnz_cor1;
        }
    }
    .line3{
        background-color: $cnz_cor1;
        border-top: 3px solid $seg_cnz_cor3;
    }
    .text-read2{
        background-color: $seg_cnz_cor2;
        border-bottom: none;
        color: $cnz_cor1;
        &::after {
            border-top: 2px solid $seg_cnz_cor3;
        }
    }
  }

  &.ciencias_humanas {
    &.close {
        &::after {
            border-top: 3px solid $seg_cnh_cor1;
            border-bottom: 2px solid $cnh_cor1;
        }
    }
    .line3{
        background-color: $cnh_cor1;
        border-top: 3px solid $seg_cnh_cor1;
    }
    .text-read2{
        background-color: $seg_cnh_cor2;
        border-bottom: none;
        color: $cnh_cor1;
        &::after {
            border-top: 2px solid $seg_cnh_cor1;
        }
    }
  }

  /* media query */
  @media only screen and (min-width: $phone-max-width) {
      &._left {
          float: left;
          clear: left;
          width: 50%;
          z-index: 1;
      }
      &._right {
          float: right;
          clear: right;
          width: 50%;
          z-index: 1;

      }
  }
}