.container_culture_box {
  position: relative;
  box-sizing: border-box;
  margin: 32px 0px 0px 0px;
  padding: 0px 28px 0px 28px;
  border-radius: 8px;
  transition: all 0.3;
  background-color: $seg_lin_cor3;
  border: 1px solid $teoria;

  input[type=checkbox] {
    display: none;
  }

  input[type=checkbox]:checked~label {
    background: url(img/icons8-minus-close_white.png) left 5px top 9px no-repeat;
  }

  input[type=checkbox]:checked~.txt_boxe_collapsed {
    display: block;
    transition: all 0.25s ease-out;
  }

  input[type=checkbox]:checked~.line-box {
    display: block;
    transition: all 0.25s ease-out;
  }

  label {
    width: 100%;
    height: 40px;
    background: url(img/icons8-plus-open_white.png) left 5px top 9px no-repeat;
    position: relative;
    background-size: 18px !important;
    display: block;
    left: -13px;

    &:before {
      content: 'CULTURE BOX';
      font-family: "nunito sans";
      font-size: 1rem;
      font-weight: 900;
      color: $teoria;
      position: absolute;
      left: 28px;
      top: 8px;
    }
  }

  .text-box {
    min-width: 200px;
    font-family: $font-nunito-sans-black;
    font-size: 1rem;
    color: $teoria;
    position: absolute;
    left: 50px;
    top: 10px;
  }

  .line-box {
    border-left: 3px solid #FFF;
    display: none;
    padding-inline-start: 16px;
    
  }

  .txt_boxe_collapsed {
    display: none;
    margin-bottom: 15px;
  }

  .doc_container {
    position: relative;
    padding: 16px;
    box-sizing: border-box;
  }

  &.artes {
    background-color: #ECF0A6;

    .text-box {
      color: #C8D300;
    }
  }

  &.lingua_inglesa {
    background-color: $seg_por_cor2;

    input[type=checkbox]:checked~label {
      background: url(img/icons8-minus-close_green.png) left 5px top 9px no-repeat;
    }

    label {
      background: url(img/icons8-plus-open_green.png) left 5px top 9px no-repeat;
      &:before {
        color: $teoria;
      }

    }
  }

  &.lingua_portuguesa {
    background-color: $seg_por_cor2;

    input[type=checkbox]:checked~label {
      background: url(img/icons8-minus-close_green.png) left 5px top 9px no-repeat;
    }

    label {
      background: url(img/icons8-plus-open_green.png) left 5px top 9px no-repeat;
      &:before {
        color: $teoria;
      }

    }
  }

  &.matematica {
    background-color: $seg_mat_cor6;

    input[type=checkbox]:checked~label {
      background: url(img/icons8-minus-close_orange.png) left 5px top 9px no-repeat;
    }

    label {
      background: url(img/icons8-plus-open_orange.png) left 5px top 9px no-repeat;
      &:before {
        color: $teoria;
      }

    }
  }  

  &.linguagens {
    background-color: $seg_por_cor2;

    input[type=checkbox]:checked~label {
      background: url(img/icons8-minus-close_green.png) left 5px top 9px no-repeat;
    }

    label {
      background: url(img/icons8-plus-open_green.png) left 5px top 9px no-repeat;
      &:before {
        color: $teoria;
      }

    }
  }

  &.ciencias_natureza {
    background-color: $seg_cnz_cor5;

    input[type=checkbox]:checked~label {
      background: url(img/icons8-minus-close_brown.png) left 5px top 9px no-repeat;
    }

    label {
      background: url(img/icons8-plus-open_brown.png) left 5px top 9px no-repeat;
      &:before {
        color: $teoria;
      }

    }
  }

  &.ciencias_humanas {
    background-color: $seg_cnh_cor4;

    input[type=checkbox]:checked~label {
      background: url(img/icons8-minus-close_dark_green.png) left 5px top 9px no-repeat;
    }

    label {
      background: url(img/icons8-plus-open_dark_green.png) left 5px top 9px no-repeat;
      &:before {
        color: $teoria;
      }

    }
  }

  /* media query */
  @media only screen and (min-width: $phone-max-width) {
    &._left {
      float: left;
      clear: left;
      width: 33%;
      z-index: 1;
    }

    &._right {
      float: right;
      clear: right;
      width: 33%;
      z-index: 1;
    }
  }
}