.container_quiz_alinhamento {
    inline-size: min-content;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    padding-top: 13px;
    float: left;
    width: 124px;
    height: 20px;
}