.container_fato_ou_fake {
    padding: 24px;
    margin-top: 48px;
    border-radius: 5px;
    display: block;
    position: relative;

    &::after {
        content: '';
        display: block;
        clear: both;
        border-bottom: 2px solid $seg_cnz_cor3;
        margin-top: 16px;
    }

    .text-read {
        border-top: solid 2px $seg_cnz_cor3;
        border-left: solid 6px $cnz_cor2;
        font-size: 1rem;
        border-bottom: none;
        color: $cnz_cor2;
        width: 187px;
        text-align: center;
        padding: 3px 8px 3px 6px;
        font-family: montserrat;
        font-weight: 700;
        background-color: $seg_cnz_cor1;
    }

    .line1 {
        width: 100%;
        height: 2px;
        background-color: $seg_cnz_cor3;
    }

    .lines {
        margin-bottom: 0;
        border: 3px solid $cnz_cor2;
        display: block;
        width: 130px;
        position: absolute;
        right: 24px;
        bottom: 24px;
      }

    &.artes {
        border: 2px solid $art_cor2;

        .text-read {
            border-top: solid 2px $art_cor2;
            border-left: solid 6px $art_cor3;
            color: $art_cor2;
        }

        .line1 {
            background-color: $art_cor2;
        }
    }

    &.lingua_inglesa {

        .text-read {
            border-top: solid 2px $ing_cor2;
            border-left: solid 6px $ing_cor3;
            color: $ing_cor2;
          }
      
          .line1 {
            background-color: $ing_cor2;
          }
    }

    &.lingua_portuguesa {
        &::after {
            border-bottom: 2px solid $por_cor3;
        }

        .text-read {
            border-top: solid 2px $por_cor3;
            border-left: solid 6px $por_cor1;
            color: $por_cor1;
        }

        .line1 {
            background-color: $por_cor3;
        }

        .lines {
          border: 3px solid $por_cor1;
        }
    }

    &.matematica {
        &::after {
          border-bottom: 2px solid $mat_cor3;
        }
    
        .text-read {
          border-top: solid 2px $mat_cor3;
          border-left: solid 6px $mat_cor2;
          color: $mat_cor2;
          background-color: $mat_cor4;
        }
    
        .line1 {
          background-color: $mat_cor3;
        }
    
        .lines {
          border: 3px solid $mat_cor2;
        }
    }

    &.linguagens {
        &::after {
          border-bottom: 2px solid $seg_lin_cor6;
        }
    
        .text-read {
          border-top: solid 2px $seg_lin_cor6;
          border-left: solid 6px $ling_cor1;
          color: $ling_cor1;
          background-color: $seg_lin_cor5;
        }
    
        .line1 {
          background-color: $seg_lin_cor6;
        }
    
        .lines {
          border: 3px solid $ling_cor1;
        }
      }
    
      &.ciencias_natureza {
        &::after {
          border-bottom: 2px solid $seg_cnz_cor3;
        }
    
        .text-read {
          border-top: solid 2px $seg_cnz_cor3;
          border-left: solid 6px $cnz_cor2;
          color: $cnz_cor2;
          background-color: $seg_cnz_cor1;
        }
    
        .line1 {
          background-color: $seg_cnz_cor3;
        }
    
        .lines {
          border: 3px solid $cnz_cor2;
        }
      }
    
      &.ciencias_humanas {
        &::after {
          border-bottom: 2px solid $seg_cnh_cor3;
        }
    
        .text-read {
          border-top: solid 2px $seg_cnh_cor3;
          border-left: solid 6px $cnh_cor1;
          color: $cnh_cor1;
          background-color: $seg_cnh_cor1;
        }
    
        .line1 {
          background-color: $seg_cnh_cor3;
        }
    
        .lines {
          border: 3px solid $cnh_cor1;
        }
      }



    >* {
        &:first-child {
            margin-top: 0;

            &._left {
                +._right {
                    margin-top: 0;
                }
            }

            &._right {
                +._left {
                    margin-top: 0;
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        &._left {
            +._right:last-child {
                margin-bottom: 20px;
            }
        }

        &._right {
            +._left:last-child {
                margin-bottom: 20px;
            }
        }
    }

    /* media query */
    @media only screen and (min-width: $phone-max-width) {
        &._left {
            float: left;
            clear: left;
            width: 50%;
            z-index: 1;
        }

        &._right {
            float: right;
            clear: right;
            width: 50%;
            z-index: 1;

        }
    }
}