.container_matema_tec {
  border: 2px solid $por_cor2;
  padding: 24px;
  margin-top: 48px;
  border-radius: 5px;
  display: block;

  .text-read{
    border-top: solid 2px $mat_cor2;
    border-left: solid 6px $mat_cor3;
    font-size: 16px;
    border-bottom: none;
    color: $por_cor2;
    width: 117px;
    text-align: center;
    padding: 3px 0px 3px 6px;
    font-family: montserrat;
    font-weight: 700;
  }
  .line1{
    width: 100%;
    height: 2px;
    background-color: $mat_cor2;
  }

  &.artes {
      border: 2px solid $art_cor2;
      .text-read{
          border-top: solid 2px $art_cor2;
          border-left: solid 6px $art_cor3;
          color: $art_cor2;
      }
      .line1{
          background-color: $art_cor2;
      }
  }
  &.lingua_inglesa {
      border: 2px solid $ing_cor2;
      .text-read{
          border-top: solid 2px $ing_cor2;
          border-left: solid 6px $ing_cor3;
          color: $ing_cor2;
      }
      .line1{
          background-color: $ing_cor2;
      }
  }
  &.lingua_portuguesa {
      border: 2px solid $por_cor2;
      .text-read{
          border-top: solid 2px $por_cor2;
          border-left: solid 6px $por_cor3;
          color: $por_cor2;
      }
      .line1{
          background-color: $por_cor2;
      }
  }
  &.matematica {
      border: 2px solid $mat_cor2;
      .text-read{
          border-top: solid 2px $mat_cor2;
          border-left: solid 6px $mat_cor3;
          color: $mat_cor2;
      }
      .line1{
          background-color: $mat_cor2;
      }
  }



  > * {
      &:first-child {
          margin-top: 0;
          &._left {
              + ._right {
                  margin-top: 0;
              }
          }
          &._right {
              + ._left {
                  margin-top: 0;
              }
          }
      }
      &:last-child {
          margin-bottom: 0;
      }
      &._left {
          + ._right:last-child {
              margin-bottom: 20px;
          }
      }
      &._right {
          + ._left:last-child {
              margin-bottom: 20px;
          }
      }
  }

  /* media query */
  @media only screen and (min-width: $phone-max-width) {
      &._left {
          float: left;
          clear: left;
          width: 50%;
          z-index: 1;
      }
      &._right {
          float: right;
          clear: right;
          width: 50%;
          z-index: 1;

      }
  }
}