.container_dados_mancha_30 {
    margin: 16px 0px 16px 0px;
    padding: 4px 16px 4px 0px;
    clear: both;
    border-radius: 10px;
    background-color: #ffffff;

    &::after {
        content: '';
        display: block;
        clear: both;
    }

    /* class styles for the options properties of the container component */
    &.lingua_portuguesa {
        background-color: #ffffff !important;
        border: 3px solid #c9252c;
    }

    &.lingua_inglesa {
        background-color: #ffffff !important;
        border: 3px solid #069891;
    }

    &.artes {
        background-color: #ffffff !important;
        border: 3px solid #64428C;
    }

    &.matematica {
        background-color: #ffffff !important;
        border: 3px solid #1961AC;
    }

    >* {
        &:first-child {
            margin-top: 0;

            &._left {
                +._right {
                    margin-top: 0;
                    padding: 0 68 0 16px;
                }
            }

            &._right {
                +._left {
                    margin-top: 0;
                    padding: 0 16 0 0px;
                }
            }
        }

        &:last-child {
            margin-bottom: 0;
        }

        &._left {
            +._right:last-child {
                margin-bottom: 20px;
                padding: 0 68 0 16px;
            }
        }

        &._right {
            +._left:last-child {
                margin-bottom: 20px;
                padding: 0 16 0 0px;
            }
        }
    }

    /* media query */
    @media only screen and (min-width: $phone-max-width) {
        &._left {
            float: left;
            clear: left;
            width: 50%;
            margin-left: 0px;
            margin-right: 24px;
            z-index: 1;
        }

        &._right {
            float: right;
            clear: right;
            width: 50%;
            margin-left: 24px;
            margin-right: 0px;
            z-index: 1;
        }
    }
}