.css_01_titulo_cap_num {
  display: block;
  color: transparent;
  font-family: 'Barlow Condensed';
  font-weight: 700;
  font-size: 400px;
  -webkit-text-stroke-color: #FFFFFF;
  -webkit-text-stroke-width: 2px;
  margin: 40px 0px 0px 0px;
  padding: 0px 0px 16px 0px;
}