.css_03_item_alinhamento_1 {
  display: block;
  float: left;
  text-align: center;
  font-size: 18px;
  color: #000000;
  font-family: 'Noticia Text';
  font-weight: 700;
  line-height: 1.5em;
  margin: 0px;
  padding: 0 0 0 0px;
}