.css_01_titulo4 {
  display: block;
  color: $textColor;
  font-family: 'Montserrat';
  font-weight: 800;
  font-variant: tabular-nums;
  font-size: 20px;
  margin-top: 15px;
  padding: 0 0px;
  margin-bottom: 0px;
  line-height: 1.5em;
}