.css_06_boxe_bullet_mat {
  display: block;
  font-family: 'Noticia Text';
  font-weight: 400;
  color: #000000;
  line-height: 1.5em;
  font-size: 16px;
  margin: 0px 0px 0px 12px;
  
  ul {
    list-style-type: disc;
    margin: 0px; 
    color: #000000;
  }
  li {
    padding-left: 12px;
  }
}