.css_06_boxe_titulo1 {
  font-size: 20px;
  margin-top: 16px;
  font-family: $font-nunito-sans-black;
  color: $textColor3;
  &.artes {
    color: $textColor3 !important;
  }
  &.biologia {
    color: $textColor3 !important;
  }
  &.filosofia {
    color: $textColor3 !important;
  }
  &.fisica {
    color: $textColor3 !important;
  }
  &.geografia {
    color: $textColor3 !important;
  }
  &.historia {
    color: $textColor3 !important;
  }
  &.lingua_inglesa {
    color: $ling_cor4 !important;
  }
  &.lingua_portuguesa {
    color: $ling_cor4 !important;
  }
  &.matematica {
    color: $cnz_cor4 !important;
  }
  &.linguagens {
    color: $ling_cor4 !important;
  }
  &.ciencias_natureza {
    color: $cnz_cor4 !important;
  }
  &.ciencias_humanas {
    color: $ling_cor4 !important;
  }
}
