.css_05_mapa_titulo {
  display: block;
  align-items: left;
  font-size: 1.5rem;  
  font-family: $font-prelo-extraBold;
  margin-bottom: 0px;
  padding: 16px 0px 0px 0px;

  &.artes {
    color: $art_cor2 !important;
  }
  &.biologia {
    border-color: #BD8432;
    color: #BD8432 !important;
  }
  &.filosofia {
    border-color: #208F6D;
    color: #208F6D !important;
  }
  &.fisica {
    border-color: #BD8432;
    color: #BD8432 !important;
  }
  &.geografia {
    border-color: #208F6D;
    color: #208F6D !important;
  }
  &.historia {
    border-color: #208F6D;
    color: #208F6D !important;
  }
  &.lingua_inglesa {
    color: $ing_cor1 !important;
  }
  &.lingua_portuguesa {
    color: $por_cor2 !important;
  }
  &.matematica {
    color: $mat_cor2 !important;
  }
  &.producao_de_texto {
    border-color: #84A214;
    color: #84A214 !important;
  }
  &.quimica {
    border-color: #BD8432;
    color: #BD8432 !important;
  }
  &.sociologia {
    border-color: #208F6D;
    color: #208F6D !important;
  }
  &.linguagens {
    color: $ling_cor3 !important;
  }  
  &.ciencias_natureza {
    color: $cnz_cor3 !important;
  }
  &.ciencias_humanas {
    color: $cnh_cor1 !important;
  }

  @media only screen and (min-width: $phone-max-width) {
    /* class styles for the position properties of the image component */
    &._left {
        float: left;
        clear: left;
        width: calc(50% - 15px);
        margin-right: 15px;
        z-index: 1;
    }
    &._right {
        float: right;
        clear: right;
        width: 50%;
        z-index: 1;
    }
  }
}