.css_02_texto_citado_bullet_2 {
  display: block;
  font-size: 16px;
  color: #000000;
  font-family: 'Montserrat';
  font-weight: 400;
  line-height: 1.5em;
  ul li{
    font-size: 16px;
    font-family: 'Montserrat';
    font-weight: 400;
    margin: 0px;
    line-height: 1.5em;
    padding-left: 4px;
  }
}