.css_06_boxe_texto1 {
  display: block;
  font-size: 16px;
  color: $textColor3;
  font-family: $font-montserrat;
  font-weight: 400;
  margin-top: 16px;
  line-height: 1.5em;

  &.artes {
    color: $textColor3;
  }
  &.lingua_inglesa {
    color: $textColor3 !important;
  }
  &.lingua_portuguesa {
    color: $textColor3 !important;
  }
  &.matematica {
    color: $textColor3 !important;
  }
  &.linguagens {
    color: $textColor3 !important;
  }
  &.ciencias_natureza {
    color: $textColor3 !important;
  }
  &.ciencias_humanas {
    color: $textColor3 !important;
  }
}