._css_06_container_boxe_em_historia {
    margin-bottom: 1.2rem;
}



._css_06_container_boxe_em_historia h3 {
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
}

._css_06_container_boxe_em_historia h4 {
    margin: 0;
    padding: 0;
    padding-top: 1rem;
    font-size: 1.125rem;
    text-align: left;
}

._css_06_container_boxe_em_historia p {
    margin: 0;
    padding: 0;
    font-size: 1.125rem;
}

._css_06_container_boxe_em_historia p:not(:first-child) {
    padding-top: 1rem;
}

._css_06_container_boxe_em_historia .double-columned-content {
    align-items: start;
}

._css_06_container_boxe_em_historia .text-credit {
    padding: 0 !important;
    margin-bottom: 1rem;
    font-size: 0.75rem;
    font-weight: 300;
    text-align: left;
}

._css_06_container_boxe_em_historia .img-description {
    padding-top: 0.5rem !important;
    font-size: 0.75rem;
}

._css_06_container_boxe_em_historia ul {
    margin: 0;
    padding: 0;
    padding-left: 1.5rem;
    padding-top: 0.5rem;
}

/*  */

/*  */
.wrap-fonte .text-credit.exercicio-fonte {
    font-size: 0.75rem;
    margin-top: 0.25rem;
    margin-right: 1.75rem;
    text-align: right;
}

input[type="checkbox"] {
    display: none;
}

.lbl-toggle {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    background: linear-gradient(180deg, #fce1bc 25%, white 100%);
    color: #bd8432;
    cursor: pointer;
    transition: all 0.25s ease-out;
    margin-top: 32px;

}

.toggle:checked+.lbl-toggle+.collapsible-content {
    max-height: 90rem;
}

.toggle:checked+.lbl-toggle .ion-md-add {
    display: none;
}

.toggle:checked+.lbl-toggle .ion-md-remove {
    display: block;
}

.ion-md-remove {
    display: none;
}

.toggle:checked+.lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.collapsible-content .content-inner {
    padding: 0 1rem;
}

.content-inner .text-content-area {
    padding: 0 1rem 1rem 1rem;
}

.content-inner .text-content-area .general-text {
    font-family: "Proxima Nova Lt", sans-serif;
}

label img {
    width: 2rem;
}

.collapsible-title {
    padding: 0 !important;
    margin: 0px !important;
    font-size: 1.25rem !important;
    font-family: "Prelo ExtraBold";
    font-size: 20px;
    color: #BD8432;

}

.collapsible-content {
    background: linear-gradient(180deg,
            rgba(255, 255, 255, 1) 0%,
            #fce1bc 100%);
    max-height: 0px;
    overflow: hidden;
    transition: max-height 0.25s ease-in-out;
    margin: 0px;

}

.flex-icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

/* .border-gloss {
    border-radius: 8px;
} */