.css_06_boxe_texto_citado_saiba_mais {
  display: block;
  font-size: 0.9rem;
  color: $textColor3 !important;
  font-family: 'Montserrat';
  font-weight: 400;
  margin-top: 16px;
  padding: 0 0px;

  &.artes {
    color: $textColor3 !important;
  }
  &.lingua_inglesa {
    color: $textColor3 !important;
  }
  &.lingua_portuguesa {
    color: $textColor3 !important;
  }
  &.matematica {
    color: $textColor3 !important;
  }
  &.linguagens {
    color: $textColor3 !important;
  }
  &.ciencias_natureza {
    color: $textColor3 !important;
  }
  &.ciencias_humanas {
    color: $textColor3 !important;
  }
}