.secao_topo_produzir_e_compartilhar {
  height: 32px;
  width: 94%;
  margin: 40px 0px 0px 10px;
  padding: 0 0 0 38px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: flex-start;
  
  h2{
    font-family: 'Barlow Condensed';
    font-weight: 700;
    font-size: 20px;
  }

  position: relative;

  .icone_disciplina{
    position: absolute;
  }

  &.artes {
    color: $art_cor2;
    background-color: #f4f2f7;
    border-right: 3px solid #dfdaea;

    .icone_disciplina {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/lumen/LGG_produzir_e_compartilhar.svg");
      width: 32px;
      height: 32px;
      align-items: left;
      margin: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      left: -10px;
      top: -1px;
    }

  }

  &.lingua_inglesa {
    color: $ing_cor2;
    background-color: #edf8f7;
    border-right: 3px solid #ccebe9;

    .icone_disciplina {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/lumen/ING_produzir_e_compartilhar.svg");
      width: 32px;
      height: 32px;
      align-items: left;
      margin: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      left: -10px;
      top: -1px;
    }

  }

  &.lingua_portuguesa {
    color: $por_cor2;
    background-color: #fbf0f0;
    border-right: 3px solid #f4d3d5;

    .icone_disciplina {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/lumen/LPO_produzir_e_compartilhar.svg");
      width: 32px;
      height: 32px;
      align-items: left;
      margin: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      left: -10px;
      top: -1px;
    }


  }

  &.matematica {
    color: $mat_cor2;
    background-color: #eef4fa;
    border-right: 3px solid #d6e5f2;

    .icone_disciplina {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/lumen/MAT_produzir_e_compartilhar.svg");
      width: 32px;
      height: 32px;
      align-items: left;
      margin: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      left: -10px;
      top: -1px;
    }

  }

  &.linguagens {
    color: $ling_cor1;
    background-color: $seg_lin_cor7;
    border-right: 3px solid $ling_cor1;

    .icone_disciplina {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/lumen/LGG_para_consolidar.svg");
      width: 32px;
      height: 32px;
      align-items: left;
      margin: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      left: -10px;
      top: -1px;
    }

  }

  &.ciencias_natureza {
    color: $cnz_cor2;
    background-color: $seg_cnz_cor1;
    border-right: 3px solid $cnz_cor2;

    .icone_disciplina {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/lumen/LGG_para_consolidar.svg");
      width: 32px;
      height: 32px;
      align-items: left;
      margin: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      left: -10px;
      top: -1px;
    }

  }

  &.ciencias_humanas {
    color: $cnh_cor2;
    background-color: $seg_cnh_cor1;
    border-right: 3px solid $cnh_cor1;

    .icone_disciplina {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/lumen/LGG_para_consolidar.svg");
      width: 32px;
      height: 32px;
      align-items: left;
      margin: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      left: -10px;
      top: -1px;
    }

  }
}

.alinhamento {
  display: flex;
  align-items: center;
}