/* Author component style */

.secao_para_consolidar {
  height: 48px;
  width: 94%;
  margin: 40px 0px 0px 10px;
  padding: 0 0 0 38px;
  display: flex;
  align-items: center;
  position: relative;
  justify-content: space-between;

  h2 {
    font-family: 'Barlow Condensed';
    font-weight: 700;
    font-size: 1.8rem;
  }
}

#redirect {

  &.artes .secao_para_consolidar {
    color: $art_cor2;
    background-color: #f4f2f7;

    .icone_disciplina_consolidar {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/lumen/LGG_para_consolidar.svg");
      width: 50px;
      height: 50px;
      align-items: left;
      margin: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      left: -20px;
      top: -1px;
    }

    .arrow-menor {
      border: 1px solid #634d97;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 4.1px;
      transform: rotate(-45deg);
      z-index: 2;
    }

    .arrow-ponta {
      border: #f4f2f7;
      width: 34px;
      height: 34px;
      position: absolute;
      background: #f4f2f7;
      display: inline-block;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      align-items: center;
      right: -17px;
    }
  }

  &.lingua_inglesa .secao_para_consolidar {
    color: $teoria;
    background-color: $ing_cor1;

    .icone_disciplina_consolidar {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/lumen/ING_para_consolidar.svg");
      width: 50px;
      height: 50px;
      align-items: left;
      margin: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      left: -20px;
      top: -1px;
    }

    .arrow-menor {
      border: 1px solid #039c92;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 4.1px;
      transform: rotate(-45deg);
      z-index: 2;
    }

    .arrow-ponta {
      border: $ing_cor1;
      width: 34px;
      height: 34px;
      position: absolute;
      background-color: $ing_cor1;
      display: inline-block;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      align-items: center;
      right: -17px;
    }
  }

  &.lingua_portuguesa .secao_para_consolidar {
    color: $teoria;
    background-color: $por_cor1;

    .icone_disciplina_consolidar {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/lumen/LPO_para_consolidar.svg");
      width: 50px;
      height: 50px;
      align-items: left;
      margin: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      left: -20px;
      top: -1px;
    }

    .arrow-menor {
      border: 1px solid #ce3a40;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 4.1px;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      z-index: 2;
    }

    .arrow-ponta {
      border: $por_cor1;
      width: 34px;
      height: 34px;
      position: absolute;
      background-color: $por_cor1;
      display: inline-block;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      align-items: center;
      right: -17px;
    }

  }

  &.matematica .secao_para_consolidar {
    color: $teoria;
    background-color: $mat_cor1;

    .icone_disciplina_consolidar {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/lumen/MAT_para_consolidar.svg");
      width: 50px;
      height: 50px;
      align-items: left;
      margin: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      left: -20px;
      top: -1px;
    }

    .arrow-right {

      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid #eef4fa;
    }

    .arrow-menor {
      border: 1px solid #196cb5;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 4.1px;
      transform: rotate(-45deg);
      z-index: 2;
    }

    .arrow-ponta {
      width: 34px;
      height: 34px;
      position: absolute;
      background-color: $mat_cor1;
      display: inline-block;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      align-items: center;
      right: -17px;
    }

  }

  &.linguagens .secao_para_consolidar {
    color: $teoria;
    background-color: $ling_cor1;

    .icone_disciplina_consolidar {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/lumen/LGG_para_consolidar.svg");
      width: 50px;
      height: 50px;
      align-items: left;
      margin: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      left: -20px;
      top: -1px;
    }

    .arrow-right {

      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid #eef4fa;
    }

    .arrow-menor {
      border: 1px solid #196cb5;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 4.1px;
      transform: rotate(-45deg);
      z-index: 2;
    }

    .arrow-ponta {
      width: 34px;
      height: 34px;
      position: absolute;
      background-color: $ling_cor1;
      display: inline-block;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      align-items: center;
      right: -17px;
    }

  }

  &.ciencias_natureza .secao_para_consolidar {
    color: $teoria;
    background-color: $cnz_cor1;

    .icone_disciplina_consolidar {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/lumen/MAT_para_consolidar.svg");
      width: 50px;
      height: 50px;
      align-items: left;
      margin: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      left: -20px;
      top: -1px;
    }

    .arrow-right {

      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid #eef4fa;
    }

    .arrow-menor {
      border: 1px solid #196cb5;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 4.1px;
      transform: rotate(-45deg);
      z-index: 2;
    }

    .arrow-ponta {
      width: 34px;
      height: 34px;
      position: absolute;
      background-color: $cnz_cor1;
      display: inline-block;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      align-items: center;
      right: -17px;
    }

  }

  &.ciencias_humanas .secao_para_consolidar {
    color: $teoria;
    background-color: $cnh_cor1;

    .icone_disciplina_consolidar {
      background-image: url("https://livro-digital.p4ed.com/assets/icons/lumen/MAT_para_consolidar.svg");
      width: 50px;
      height: 50px;
      align-items: left;
      margin: 0;
      background-size: cover;
      background-position: center;
      background-repeat: no-repeat;
      position: absolute;
      left: -20px;
      top: -1px;
    }

    .arrow-right {

      border-top: 20px solid transparent;
      border-bottom: 20px solid transparent;
      border-left: 20px solid #eef4fa;
    }

    .arrow-menor {
      border: 1px solid #196cb5;
      border-width: 0 3px 3px 0;
      display: inline-block;
      padding: 4.1px;
      transform: rotate(-45deg);
      z-index: 2;
    }

    .arrow-ponta {
      width: 34px;
      height: 34px;
      position: absolute;
      background-color: $cnh_cor1;
      display: inline-block;
      transform: rotate(-45deg);
      -webkit-transform: rotate(-45deg);
      align-items: center;
      right: -17px;
    }

  }

}

.secao_para_consolidar_teste>div {
  display: flex;
  align-items: center;

}

.secao_para_consolidar_teste a div,
a {
  display: flex;
  align-items: center;
  position: relative;
}

.vejamais {
  font-size: 0.6rem;
  font-family: 'Montserrat';
  text-align: right;
  color: #9a9898;
  background-size: 100%;
  z-index: 1;
  margin-right: 1px;
  font-weight: 530;
}

@media only screen and (max-width: $phone-max-width) {
  .secao_para_consolidar h2{
    font-size: 0.8rem;
  }
}