<div class="container_questao_dissertativa_item_ing">
    <div class="label">
        <div class="arial">
            <div class="textarrow"></div>
        </div>
        <div class="size">
            <div class="textarrow"></div>
        </div>
        <div class="type">
            <div class="textB"></div>
            <div class="textI"></div>
            <div class="textU"></div>
        </div>
    </div>
    <fieldset>
        <textarea class="textarea" placeholder="Type here the answer."></textarea>
        <button class="btn"></button>
    </fieldset>
</div>