<div class='container_boxe_abertura'>
    <input class='toggle' type='checkbox' id>
    <label class='lbl-toggle-abertura' for>
        <div class='flex-icon'>
            <div class='flex-icon'>
                <div class="plus"></div>
                <div class="less"></div>
            </div>
            <p class='collapsible-title' doc-editable="text">Escreva o título aqui.</p>
        </div>
    </label>
    <div class='collapsible-content-abertura'>
        <div class='content-inner'>
            <div class="txt_boxe_collapsed" doc-container="main"></div>
        </div>
    </div>
</div>