<s id="s1"></s>
<s id="s2"></s>
<s id="s3"></s>
<s id="s4"></s>

<div class="slider">
    <div class="slide-content" doc-container="main">
        <div style="width: 100%; height: 100%;">
            <img doc-image="image" src="bound-image-url" doc-link="hyperlink"></img>
            <p doc-editable="caption"><span style="font-size: 0.6em;" doc-editable="author"></span></p>
        </div>
    </div>
</div>

<div class="prevNext">
    <div><a href="#s4"></a><a href="#s2"></a></div>
    <div><a href="#s1"></a><a href="#s3"></a></div>
    <div><a href="#s2"></a><a href="#s4"></a></div>
    <div><a href="#s3"></a><a href="#s1"></a></div>
</div>