<s id="s1"></s>
<s id="s2"></s>

<div u="slides" class="slider" doc-slideshow="slideshow">
    <div class="slide-content" doc-editable="main">
        <!--   <div style="width: 100%; height: 100%;">
            <div doc-image="image" src="bound-image-url" doc-link="hyperlink"></div>
            <p doc-editable="caption"><span style="font-size: 0.6em;" doc-editable="author"></span></p>
        </div> -->
        <figure class="image">
            <img doc-image="image" src="bound-image-url" doc-link="hyperlink" />
            <figcaption doc-editable="caption">
                Insira a legenda aqui. Em seguida, tecle Shift + Enter e insira o crédito. Selecione o crédito e reduza
                o
                tamanho da fonte para -4.
            </figcaption>
        </figure>
    </div>
</div>

<div class="prevNext">
    <div><a href="#s2"></a><a href="#s2"></a></div>
    <div><a href="#s1"></a><a href="#s1"></a></div>
</div>